<form action="/Backup/Import" method="post" enctype="multipart/form-data">
    <label for="backup">Plik:</label>
    <input type="file" name="backup" id="backup" />

    <input type="submit" value="Wyślij" />
    <div>@ViewBag.Message</div>
</form>

