@{
    ViewBag.Title = "Panel administratora";
}

<div class="container">
    <div class="page-header text-center">
		<h1>Panel administratora</h1>
    </div>

    <div class="row text-center">
		<a href="/UserManagement/Index" class="btn btn-primary btn-space">Zarządzanie użytkownikami</a> 
		<div class="btn-group">
			<button type="button" class="btn btn-primary btn-space dropdown-toggle" data-toggle="dropdown">
			 Baza danych <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="/Backup/Import">Importuj</a></li>	
				<li><a href="/Backup/Export">Eksportuj</a></li>		
			</ul>
		</div>
		<a href="/Log/Index" class="btn btn-primary btn-space">Logi</a>
        <br/>
        <a href="/Audiogram/Index" class="btn btn-primary btn-space">Audiogramy</a>  
        <a href="/Frequency/Index" class="btn btn-primary btn-space">Częstotliwości</a>  
        <a href="/Instruments/Index" class="btn btn-primary btn-space">Instrumenty</a>  
    </div>

</div>

