@model List<SerwisAudiometryczny.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@foreach (var item in Model)
{
    @Html.Partial("~/Views/Admin/SingleRecord.cshtml", item);
}

