@{
    ViewBag.Title = "Home Page";
}






<div class="pojemniczekX">
<div class="CiemnaNakladka">
  

	  </div>

	   <div class="text-home">
      Serwis Audiometryczny
	  </div>

	    <div class="text-home2">
     witamy w naszym serwisie, 
	  
	  <a href="Account/Login"> <button type="button" class="btn btn-primary button-home">Zaloguj się !</button> </a>
	  
	  </div>





</div>