@{
    ViewBag.Title = "Panel użytkownika";
}

<div class="container">
    <div class="page-header text-center">
        <h1>Panel użytkownika</h1>
    </div>

    <div class="row text-center">
        <a href="/Audiogram/Index" class="btn btn-primary btn-space">Audiogramy</a>
        <a href="/Log/Index" class="btn btn-primary btn-space">Logi</a>
    </div>

</div>

