@model SerwisAudiometryczny.Models.FrequencyModel

@{
    ViewBag.Title = "Usuń";
}

<h3 style="color: black;">Czy na pewno chcesz usunąć?</h3>
<div class="text-large" style="color: black;">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Frequency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Frequency)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do listy", "Index")
        </div>
    }
</div>
