@model List<SerwisAudiometryczny.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Użytkownicy</h2>
<hr />
@Html.ActionLink("Nowy użytkownik", "CreateUser", "UserManagement", routeValues: null, htmlAttributes: new {Class = "btn btn-info" })
<table class="container-fluid um-table">
    @foreach (var item in Model)
    {
        @Html.Partial("~/Views/Shared/SingleRecord.cshtml", item);
    }
</table>


