@model List<SerwisAudiometryczny.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@Html.ActionLink("Create new user", "CreateUser", "UserManagement", routeValues: null, htmlAttributes: new {Class = "btn btn-info" })
@foreach (var item in Model)
{
    @Html.Partial("~/Views/Shared/SingleRecord.cshtml", item);
}


